@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    min-height: 100vh;
    height: 100vh;
}

#epubReader {
    text-align: center;
    min-height: 100vh;
    height: 100vh;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
